body {
    font-family: 'Times New Roman', Times, serif;
    /*Background color for the whole webpage*/
    background-color: #dcdcdc;
    margin: 0px;    
}

/*Styles the whole navigation bar*/
.navbar {
    overflow: hidden;
    background-color: #36383f;
    position: sticky;
    top: 0;
    height: 100px;
    display: flex;
}

/*padding for the logo/website name to be spaced away from the other links t*/
#logo {
    object-fit: cover;
    transform: scale(0.2);
  }

.res {
    transition: 1s ease;
    background-color: #36383f;
    padding-top: 40px;
}

.res:hover{
    background-color: #2C2F33;
    color: white; 
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

/*style link box*/
.navbar a {     
    float: left;
    display: block;
    /*text color*/
    color: white;
    text-align: center;
    /*padding in this order: top right bottom left*/
    padding: 20px 20px 20px 20px;
    /*removes the underline when text with links are displayed*/
    text-decoration: none;
    transition: color .4s ease-in-out;
}   

/*moves links to the right add*/
.navbar a.right {
    float: right;
}

/*Inverts text color on the link when hovered over*/
/* .navbar a:hover {
    background-color: #2C2F33;
    color: white; 
} */

#bigbox {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 800px;
    /*The color is beige for visibility on the border,
      set to background color when finished*/
}

h1 {
    padding-top: 10%;
    font-size: 80px;
}

h2 {
    font-size: 40px;
}



/*INPUT GRADE 11 AND GRADE 12 FILES*/