html, body {
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: white;
}

p, li {
/* centers text */
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    font-size: 2vw;
    padding: 0px;
    text-decoration: underline;
    color: black;
}

a {
    color: black;
}

#content {
    background-color: ;
    height: 90vw;
    width: 60%;
    margin:auto;
}

#title {
    font-size: 1.3vw;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }