html, body {
  height: 100%;
  margin: 0%;
  background-color: #dcdcdc;
}

#content {
  padding-top: 10px;
}

h1 {
  font-size: 30px; 
  padding: 10px 0;
}

h2{
  padding: 5px 0;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  padding-left: 30px;
}

p, li {
  text-align: left;
  vertical-align: middle;
  line-height: 100%;
  font-size: 20px;
  padding-left: 30px;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: #A9A9A9;
}

#banner {
  background: #36383f;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: -80px;
}

#title {
  font-size: 30px;
  color: white;
  text-align: center;
}

#logo {
  object-fit: cover;
  transform: scale(0.2);
}

#content {
  height: 90vw;
  width: 85%;
  margin: auto;
}

#spacing {
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #555;
  }