body {
    font-family: 'Times New Roman', Times, serif;
    /*Background color for the whole webpage*/
    background-color: #dcdcdc;
    margin: 0px;
}

/*Styles the whole navigation bar*/
#banner {
    background: #36383f;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
  
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: -80px;
}
  
#title {
    font-size: 30px;
    color: white;
    text-align: center;
}
  
#logo {
    object-fit: cover;
    transform: scale(0.2);
}

a {
    font-size: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
}


#begin {
    margin-top: 30px;
    padding: 3px 3px;
}

/*style link box*/
.navbar a {  

    display: flex;
    align-items: center;
    justify-content: center;
    /*text color*/
    color: white;
    text-align: center;
    /*padding in this order: top right bottom left*/
    padding: 20px 20px 20px 20px;
    /*removes the underline when text with links are displayed*/
    text-decoration: none;
    transition: color .4s ease-in-out;
}   

/*moves links to the right add*/
.navbar a.right {
    float: right;
}

/*Inverts text color on the link when hovered over*/
/* .navbar a:hover {
    background-color: #2C2F33;
    color: white;
} */

#bigbox {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 800px;
    /*The color is beige for visibility on the border,
      set to background color when finished*/
}